body{
    margin: 0;
    padding: 0;
    color: rgb(109, 172, 223);
    background: black;
}

#pin1{
    position: relative;
    height: 100vh;
    width: 100%;
    --masksize: 0%;
    background-image: radial-gradient( circle at 50% 50%, black 0%, black var(--masksize), white var(--masksize)
    );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2{
    font-size: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text-from{
    padding: 3rem;
}